* {
    box-sizing: border-box;

}

body {
    @extend .font;
    font-size: 14px;
    color: $fffcolor;
    background: url("../img/background.svg"),#fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
    height: 100vh;
}
h1,h2,h3{
    margin: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

   
.wrapper{
    max-width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
}
