body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #333333, #4c4a4a);
}
h1{
  position: relative; 
  color: #212121;
  font-size: 150px;
  letter-spacing: 5px;
  text-transform: uppercase;

  &:before{
      position: absolute;
      top: 0;
      left: 0;
      content: 'SoftSwiss.today';
      color: #00ffff;
   
      overflow: hidden;
      animation: ss 8s infinite linear;
  }
}
@keyframes ss{
    0%{
        width:0;
    }
    100%{
        width:100%;
    }
}