main {
    padding: 280px 0;
    color: $maintext;
    display: flex;

    h1 {
        text-transform: uppercase;
        font-size: 1.143em;
        line-height: 19px;
        position: relative;

    }

    .main-wrapper {
        margin-right: 5%;

        

        .new_casino {
            text-align: left;

            .new_casino-wrapper {
                margin-top: 30px;
                display: flex;
                flex-wrap: wrap;


                .new_casino-item {
                    display: flex;
                    margin: 0 10px 10px 0px;
                    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
                    border-radius: 3px;
                    flex: 0 0 46%;

                    @include breakpoint (xlgx-min) {
                        flex: 0 0 100%;
                        transition: all .3s;
                    }


                    .casino_img {

                        min-width: 190px;
                        max-width: 200px;
                        min-height: 150px;

                        background: url(../img/casilogo.png);
                        background-size: cover;
                        background-repeat: no-repeat;
                        margin-right: 10px;

                    }

                    .casino_descr {
                        flex-direction: column;
                        display: flex;

                        h2 {
                            font-size: 1.286em;
                            font-weight: 500;
                            line-height: 40px;
                        }

                        .casino_rating {
                            margin: 10px 0;
                        }

                        .casino_text {
                            font-size: 0.857em;
                            line-height: 18px;
                            margin: 10px 0;
                            overflow: hidden;
                            display: block;
                            display: -webkit-box;
                            text-overflow: ellipsis;
                            -webkit-line-clamp: 3; /* количество строк */
                            -webkit-box-orient: vertical;
                        }

                        .casino_btn {
                            @extend .btn_main;
                            margin-bottom: 10px;
                        }
                    }
                }

            }

        }

        .btn_all_section {
            position: relative;
            text-align: center;

            &::after {
                content: '';
                position: absolute;
                height: 2px;
                width: calc(50% - 120px);
                left: 0;
                bottom: 12px;
                background: #E5E5E5;
            }

            &::before {
                content: '';
                position: absolute;
                height: 2px;

                width: calc(50% - 120px);
                right: 0;
                bottom: 12px;
                background: #E5E5E5;
            }

            .see_all-btn {
                @extend .see_btn;
                display: inline-block;
                margin-top: 20px;


            }
        }

.f_bonus{

}
    }


    .right-side {
        width: 100%;
        max-width: 330px;
        min-width: 250px;
        height: 450px;


        h1 {
            text-align: center;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                height: 2px;
                width: 100%;
                background: #E5E5E5;
                bottom: -5px;
                left: 0;
            }
            span {
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    height: 2px;
                    width: 100%;
                    background: linear-gradient(182.86deg, #FFC000 1.55%, #FF8A00 95.8%);
                    bottom: -5px;
                    left: 0;
                    z-index: 1;
                }
            }
        }

        .top-list {
            width: 100%;
            max-width: 330px;
            min-width: 250px;
            height: 450px;
            

            &.top-slots {
                max-height: 260px;
            }

            .top10-bonus {

                span {
                    font-size: 1em;
                }
            }



            h2 {

                padding: 5px 15px;
                background: #fff;

            }

            ul {
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
                border-radius: 2px;
                background: #FFFFFF;
                padding: 30px 0;
                margin-top: 30px;

                li {

                    display: flex;
                    align-items: center;

                    position: relative;
                    overflow: hidden;
                    margin: 5px 0;

                    a {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        margin-left: 0;
                        transition: margin-left .3s;
                        font-size: 	0.857em;
                        line-height: 15px;
                        color: $maintext;


                        &:hover {
                            background: #E5E5E5;
                        }

                        img {
                            display: block;
                            height: 40px;
                            // border-radius: 50%;
                            margin-left: 25px;
                        }

                        span {
                            width: 100%;
                            padding-left: 15%;
                            margin: 0 5px;
                            text-transform: uppercase;
                        }
                    }

                    .top10-playbtn {
                        background: linear-gradient(222.96deg, #FFC000 1.55%, #FF8A00 95.8%), linear-gradient(169.94deg, #1738BC 6.95%, #315EFB 93.05%);
                        box-shadow: 0px 2px 2px rgba(153, 153, 153, 0.2);
                        border-radius: 3px;
                        display: block;
                        width: 80px;
                        text-align: center;
                        text-transform: uppercase;
                        font-size: 	0.857em;
                        padding: 2px;
                        position: absolute;
                        right: -80px;
                        transition: right .3s;
                        line-height: 38px;
                        color: $fffcolor;
                        z-index: 1;
                        border: 1px solid transparent;
                        
                        &:hover{
                            color: $maintext!important;
                            background: linear-gradient(222.96deg, #FFC000 1.55%, #FF8A00 95.8%), linear-gradient(169.94deg, #1738BC 6.95%, #315EFB 93.05%);
                            
                        }

                    }

                    &:hover {
                        .top10-playbtn {
                            right: 0;
                            transition: all .3s;


                        }

                        .top10-list{
                            background: #E5E5E5;
                        }

                        .top10-casino {
                            margin-left: -65px;
                            transition: margin-left .3s;
                        }

                    }
                }
            }
        }
    }
}
