main {
    padding: 280px 0 100px 0;
    color: $maintext;
    display: flex;
    transition: padding .3s;
    @include breakpoint(md-min){
        padding: 180px 0 100px 0;       
    }
   
    @include breakpoint(ldx-min){
        flex-direction: column-reverse;      
    }
    @include breakpoint(ld-min){
        flex-direction: column;      
    }

    h1 {
        text-transform: uppercase;
        font-size: 1.143em;
        line-height: 19px;
        position: relative;

    }

    .main-wrapper {
        margin-right: 5%;
        @include breakpoint(ldx-min){
              margin-right: 0;
        }


        .new_casino {
            text-align: left;

            .new_casino-wrapper {
                margin-top: 30px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .new_casino-item {
                    display: flex;
                    margin-bottom: 10px;
                    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
                    border-radius: 3px;
                    flex: 0 0 48%;

                    &:last-child {
                        @include breakpoint(md-min) {
                            display: none;
                        }
                    }

                    @include breakpoint (xlgx-min) {
                        flex: 0 0 100%;
                        transition: all .3s;
                    }
                    @include breakpoint(sm-min){
                        flex-direction: column;
                        &:nth-child(3){
                            display: none;
                            
                        }
                        
                    }


                    .casino_img {

                        min-width: 190px;
                        max-width: 200px;
                        min-height: 150px;
                        background: url(../img/casilogo.png);
                        background-size: cover;
                        background-repeat: no-repeat;
                        margin-right: 10px;
                        @include breakpoint(sm-min){
                            max-width: unset;
                            margin-right: 0;
                            border-radius: 3px 3px 0 0;
                            
                        }
                    }

                    .casino_descr {
                        flex-direction: column;
                        display: flex;
                        @include breakpoint(sm-min){
                           align-items: center;
                           text-align: center;
                           padding: 0 5%;
                        }

                        h2 {
                            font-size: 1.286em;
                            font-weight: 500;
                            line-height: 40px;
                        }

                        .casino_rating {
                            margin: 10px 0;
                        }

                        .casino_text {
                            font-size: 0.857em;
                            line-height: 18px;
                            margin: 10px 0;
                            overflow: hidden;
                            display: block;
                            display: -webkit-box;
                            text-overflow: ellipsis;
                            -webkit-line-clamp: 3;
                            /* количество строк */
                            -webkit-box-orient: vertical;
                        }

                        .casino_btn {
                            @extend .btn_main;
                            margin-bottom: 10px;
                        }
                    }
                }

            }

        }

        .btn_all_section {
            position: relative;
            text-align: center;

            &::after {
                content: '';
                position: absolute;
                height: 1px;
                width: calc(50% - 120px);
                left: 0;
                bottom: 12px;
                background: #E5E5E5;
            }

            &::before {
                content: '';
                position: absolute;
                height: 1px;

                width: calc(50% - 120px);
                right: 0;
                bottom: 12px;
                background: #E5E5E5;
            }

            .see_all-btn {
                @extend .see_btn;
                display: inline-block;
                margin-top: 20px;


            }
        }

        .f_block {
            margin-top: 30px;


            .new_news-wrapper.f_wrapper {
                display: flex;
                flex-direction: column;

                .f_item-wrapper {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 30px;
                    width: 100%;

                    .new_news-item {
                        flex: 0 0 48%;

                        &:not(:last-child) {
                            margin-right: 20px;
                        }

                        display: block;
                        width: 50%;

                        .f_img {
                            max-width: unset;
                        }
                    }

                }

                .new_news-list {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;

                    .new_news-list-item {
                        margin-left: 0;
                        flex: 0 0 48%;

                        &:last-child {
                            margin-bottom: 20px;
                        }


                    }
                }
            }

            .f_wrapper {
                margin-top: 30px;
                display: flex;



                .f_item {
                    width: 50%;

                    .f_img {
                        // background: url(../img/DsdSiW.png);
                        background-repeat: no-repeat;
                        background-size: cover;
                        width: 100%;
                        max-width: 420px;
                        height: 180px;
                        display: block;
                    }

                    .f_descr {
                        .f_name {
                            font-weight: 500;
                            font-size: 1.286em;
                            margin: 10px 0;

                        }

                        .f_date {
                            text-transform: uppercase;
                            color: #A0A0A0;
                            font-size: 0.857em;
                            font-weight: 300;

                            .date_by {

                                span {
                                    color: $orange;
                                    margin-left: 5px;
                                }
                            }

                            .time_svg {
                                position: relative;
                                margin-left: 30px;

                                &:before {
                                    content: '';
                                    position: absolute;
                                    left: -16px;
                                    top: 1px;
                                    width: 12px;
                                    height: 12px;
                                    background: url(../img/time.svg);
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                }
                            }
                        }

                        .f_text {
                            margin: 10px 0;
                            padding-right: 35px;
                            overflow: hidden;
                            color: #555555;
                            display: -webkit-box;
                            text-overflow: ellipsis;
                            -webkit-line-clamp: 4;
                            /* количество строк */
                            -webkit-box-orient: vertical;
                        }

                        .f_btn {
                            padding: 8px 24px;
                            border: 1px solid transparent;
                            margin-top: 20px;
                            background: linear-gradient(224.43deg, #FFC000 1.55%, #FF8A00 95.8%);

                            &:hover {
                                box-shadow: 0px 2px 4px rgba(153, 153, 153, 0.4);
                                background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(223.46deg, #FFC000 1.55%, #FF8A00 95.8%);

                            }
                        }
                    }

                }

                .f_list {
                    width: 50%;

                    .f_list-item {
                        display: flex;
                        margin-left: 20px;
                        background: #FFFFFF;
                        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
                        border-radius: 3px;

                        &:not(:last-child) {
                            margin-bottom: 20px;
                        }

                        &:hover {
                            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
                            transition: box-shadow .3s;
                        }

                        .f_list-img {

                            width: 110px;
                            height: 110px;
                            flex: 0 0 110px;

                        }

                        .f_list-descr {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-evenly;

                            width: 100%;
                            margin-left: 20px;

                            h3 {
                                font-size: 1em;
                                line-height: 21px;
                                overflow: hidden;
                                display: block;
                                display: -webkit-box;
                                text-overflow: ellipsis;
                                -webkit-line-clamp: 2;
                                /* количество строк */
                                -webkit-box-orient: vertical;
                                color: #333333;
                            }

                            .f_list-date {
                                font-size: 0.857em;
                                color: #A0A0A0;

                                .f_list-time {
                                    position: relative;
                                    margin-left: 16px;

                                    &:before {
                                        content: '';
                                        position: absolute;
                                        left: -16px;
                                        top: 1px;
                                        width: 12px;
                                        height: 12px;
                                        background: url(../img/time.svg);
                                        background-repeat: no-repeat;
                                        background-size: cover;
                                    }
                                }
                            }

                        }
                    }
                }
            }
            .new_bonus-item{
                @include breakpoint(md-min){
                    display: none;
                }
            }
            .new_bonus-list.f_list{
                @include breakpoint(md-min){
                    width: 100%;
                }
                .new_bonus-list-item{
                    @include breakpoint(md-min){
                        margin-left: 0;
                    }
                }
                
                .bonus_list-descr{
                    h3{
                        padding-right: 5px;
                    }
                }
            }
            .new_news-wrapper.f_wrapper{
                .f_item-wrapper{
                    @include breakpoint(md-min){
                        display: none;
                    }
                }
                .f_list{
                    .f_list-item{
                        @include breakpoint(md-min){
                            width: 100%;
                            flex: unset;
                        }
                    }
                }
            }

        }
        .calendar {
            margin-top: 80px;
            margin-bottom: 80px;
            display: none;
            @include breakpoint(sm-min){
                display: block;
            }
            h1 {
                text-align: center;
                position: relative;
    
                &:after {
                    content: '';
                    position: absolute;
                    height: 1px;
                    width: 100%;
                    background: #E5E5E5;
                    bottom: -5px;
                    left: 0;
                    
                }
    
                span {
                    position: relative;
    
                    &:before {
                        content: '';
                        position: absolute;
                        height: 1px;
                        width: 100%;
                        background: linear-gradient(182.86deg, #FFC000 1.55%, #FF8A00 95.8%);
                        bottom: -5px;
                        left: 0;
                        z-index: 1;
                        @include breakpoint(md-min){
                            bottom: -6px;
                        }
                        @include breakpoint(sm-min){
                            bottom: -7px;
                            
                        }
                    }
                }
            }

            .calendar_wrapper {
                margin-top: 40px;
                background: #FFFFFF;
                mix-blend-mode: normal;
                box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
                border-radius: 3px;
                padding: 20px 20px;

                .calendar_item {
                    display: flex;
                    justify-content: space-evenly;
                    margin: 20px 0;

                    img {
                        display: block;
                        border-radius: 2px;
                        max-width: 110px;
                        width: 50%;

                    }

                    .calendar_item_descr {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        color: #333333;
                        margin-left: 10px;
                        text-align: left;
                        width: 50%;

                        .event_type {

                            font-weight: 500;
                            text-transform: uppercase;
                        }

                        .event_name {
                            font-size: 0.750em;
                            margin-top: 5px;
                        }

                        .event_date {
                            margin-top: 15%;
                            color: $orange;
                            font-size: 0.750em;
                        }
                    }

                    &:hover {
                        opacity: .6;
                        transition: opacity .3s;
                    }

                }

                .event_btn {
                    width: 180px;
                    margin: 0 auto;
                    text-align: center;
                    border: 1px solid transparent;
                    font-size: 0.875em;
                    line-height: 15px;

                    &:hover {
                        box-shadow: 0px 2px 4px rgba(153, 153, 153, 0.4);
                        background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(223.46deg, #FFC000 1.55%, #FF8A00 95.8%);
                    }
                }
            }
        }

    }


    .right-side {
        width: 100%;
        max-width: 330px;
        min-width: 250px;
        @include breakpoint(ldx-min){
              max-width: unset;
        }
        @include breakpoint(ld-min){
            margin-top: 80px;     
        }


        h1 {
            text-align: center;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                height: 1px;
                width: 100%;
                background: #E5E5E5;
                bottom: -5px;
                left: 0;
                
            }

            span {
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    height: 1px;
                    width: 100%;
                    background: linear-gradient(182.86deg, #FFC000 1.55%, #FF8A00 95.8%);
                    bottom: -5px;
                    left: 0;
                    z-index: 1;
                    @include breakpoint(md-min){
                        bottom: -6px;
                    }
                    @include breakpoint(sm-min){
                        bottom: -7px;
                    }
                }
            }
        }

        .top-list {
            width: 100%;
            max-width: 330px;
            min-width: 250px;
            height: 450px;
            @include breakpoint(ldx-min){
                max-width: unset;
          }


            h2 {

                padding: 5px 15px;
                background: #fff;

            }

            ul {
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
                border-radius: 2px;
                background: #FFFFFF;
                padding: 30px 0;
                margin-top: 30px;
                letter-spacing: 1.5px;


                li {

                    display: flex;
                    align-items: center;
                    position: relative;
                    overflow: hidden;
                    margin: 5px 0;


                    a {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        margin-left: 0;
                        transition: margin-left .3s;
                        font-size: 0.857em;
                        line-height: 15px;
                        color: #555555;


                        &:hover {
                            background: #E5E5E5;
                        }

                        img {
                            display: block;
                            height: 40px;
                            // border-radius: 50%;
                            margin-left: 25px;
                        }

                        span {
                            width: 100%;
                            padding-left: 15%;
                            margin: 0 5px;
                            text-transform: uppercase;
                           
                        }
                    }

                    .top10-playbtn {

                        background: linear-gradient(222.96deg, #FFC000 1.55%, #FF8A00 95.8%), linear-gradient(169.94deg, #1738BC 6.95%, #315EFB 93.05%);
                        box-shadow: 0px 2px 2px rgba(153, 153, 153, 0.2);
                        border-radius: 3px;
                        display: block;
                        width: 80px;
                        text-align: center;
                        text-transform: uppercase;
                        font-size: 0.857em;
                        padding: 2px;
                        position: absolute;
                        right: -80px;
                        transition: right .3s;
                        line-height: 38px;
                        color: $fffcolor;
                        z-index: 1;

                        &:hover {
                            color: #555555 !important;
                            background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(223.46deg, #FFC000 1.55%, #FF8A00 95.8%);

                        }

                    }

                    &:hover {
                        .top10-playbtn {
                            right: 0;
                            transition: all .3s;


                        }

                        .top10-list {
                            background: #E5E5E5;
                        }

                        .top10-casino {
                            margin-left: -65px;
                            transition: margin-left .3s;
                        }

                    }


                }
            }
        }

        .main_tags {
            margin-top: 80px;
            @include breakpoint(sm-min){
                display: none;
            }
            .tags_wrapper {
                margin-top: 20px;
                display: flex;
                flex-wrap: wrap;
                margin: 20px -5px;
                @include breakpoint(ldx-min){
                                
                 justify-content: center;              
                }
                
                

                .tag-item {
                    color: #333333;
                    font-size: 0.875em;
                    background: #FFFFFF;
                    border: 0.5px solid #E5E5E5;
                    border-radius: 3px;
                    padding: 8px 25px;
                    margin: 5px;
                    text-align: center;
                    width: 100%;
                    flex: 0 0 25%;
                    transition: all .3s;

                    &:hover {
                        color: $orange;
                        border: 0.5px solid $orange;
                    }
                }
            }
        }

        .subscribe {
            margin-top: 80px;
            @include breakpoint(sm-min){
                display: none;
            }
            h4 {
                color: #333333;
                font-size: 0.875em;
                font-weight: 500;
            }

            form {
                input {
                    background: #FFFFFF;
                    border: 0.5px solid #E5E5E5;
                    box-sizing: border-box;
                    border-radius: 3px;
                    color: #A0A0A0;
                    font-size: 0.875em;
                    width: 100%;
                    padding: 16px 24px;

                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }

                    &:focus {
                        &::-webkit-input-placeholder {
                            text-indent: 500px;
                            transition: text-indent 0.7s ease;
                        }
                    }

                }
            }

            button {
                background: linear-gradient(206.33deg, #FFC000 1.55%, #FF8A00 95.8%);
                box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
                border-radius: 3px;
                border: 1px solid transparent;
                color: $fffcolor;
                padding: 16px;
                width: 100%;
                cursor: pointer;
                outline: none;
                margin-top: 20px;
                font-size: 0.875em;
                text-transform: uppercase;
                background: linear-gradient(224.43deg, #FFC000 1.55%, #FF8A00 95.8%);
                transition: all .3s;
                
                
                &:hover,
                &:focus,
                &:active {
                    box-shadow: 0px 2px 4px rgba(153, 153, 153, 0.4);
                    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(223.46deg, #FFC000 1.55%, #FF8A00 95.8%);
                }
            }
        }

        .calendar {
            margin-top: 80px;
            margin-bottom: 80px;
            @include breakpoint(sm-min){
                display: none;
            }

            .calendar_wrapper {
                margin-top: 40px;
                background: #FFFFFF;
                mix-blend-mode: normal;
                box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
                border-radius: 3px;
                padding: 20px 20px;

                .calendar_item {
                    display: flex;
                    justify-content: space-evenly;
                    margin: 20px 0;

                    img {
                        display: block;
                        border-radius: 2px;
                        max-width: 110px;
                        width: 50%;

                    }

                    .calendar_item_descr {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        color: #333333;
                        margin-left: 10px;
                        text-align: left;
                        width: 50%;

                        .event_type {

                            font-weight: 500;
                            text-transform: uppercase;
                        }

                        .event_name {
                            font-size: 0.750em;
                            margin-top: 5px;
                        }

                        .event_date {
                            margin-top: 15%;
                            color: $orange;
                            font-size: 0.750em;
                        }
                    }

                    &:hover {
                        opacity: .6;
                        transition: opacity .3s;
                    }

                }

                .event_btn {
                    width: 180px;
                    margin: 0 auto;
                    text-align: center;
                    border: 1px solid transparent;
                    font-size: 0.875em;
                    line-height: 15px;

                    &:hover {
                        box-shadow: 0px 2px 4px rgba(153, 153, 153, 0.4);
                        background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(223.46deg, #FFC000 1.55%, #FF8A00 95.8%);
                    }
                }
            }
        }

    }
}
