header {
    
    .header_wrapper {
        .header_top {
            display: flex;
            justify-content: space-between;
            text-transform: uppercase;
            padding-top: 40px;

            .header_left {
                display: flex;
                align-items: center;

                .logo {
                    margin-right: 30px;

                    img {
                        display: block;
                    }
                }

                .navigation {
                    @include breakpoint(md-min){
                        display: none;
                    }
                    ul.menu {
                        display: flex;

                        li {
                            
                            position: relative;
                            width: 100%;
                            font-family: 'InterMedium';
                            &:hover{
                                .submenu{
                                    visibility:visible;
                                    opacity: 1;
                                   
                                    
                                }
                            }
                            a {
                                color: $fffcolor;
                                position: relative;
                                display: block;
                                height: 100%;
                                width: 100%;
                                padding: 15px;
                                
                                span{
                                    text-align: center;
                                    position: relative;
                                    &:after {
                                        content: '';
                                        position: absolute;
                                        width: 0;
                                        height: 2px;
                                        background: linear-gradient(186.05deg, #FFC000 1.55%, #FF8A00 95.8%);
                                        bottom: -2px;
                                        left: 0;
                                        
                                    }
                                }
                                

                                &:hover {
                                    span{
                                        &:after {
                                            width: 100%;
                                            transition: all .3s;
                                        }
                                    }
                                    
                                }
                            }

                            ul.submenu {
                                background: #FFFFFF;
                                border-radius: 5px;
                                position: absolute;
                                width: 128px;
                                top: 45px;
                                left: calc(50% - 64px);
                                border-radius: 5px;
                               opacity: 0;
                                visibility: hidden;
                                transition: all .3s;
                                z-index: 1000;
                                &:before{
                                    position: absolute;
                                    cursor: pointer;
                                    content: '';
                                    top: -20px;
                                    left: calc(50% - 12px);
                                    border: 10px solid transparent; border-bottom: 10px solid #fff;
                                }
                                
                                    li{
                                        
                                        margin-right: 0;
                                        &:first-child{
                                           a{border-radius: 5px 5px 0 0;}
                                        }
                                        &:last-child{
                                            a{border-radius: 0 0 5px 5px;}
                                        }
                                        a{
                                            color: #555555;
                                            font-size: 0.875em;
                                            line-height: 17px;
                                            text-transform: none;
                                            text-align: left;
                                            display: block;
                                            width: 100%;
                                            height: 100%;
                                            padding: 16px 12px;
                                            
                                            span {&:after{
                                                display: none;
                                            }
                                        }
                                            &:hover{
                                                background:$bgorange;
                                                color: $fffcolor;
                                                transition: all .3s;
                                            }
                                        }
                                    }
                               
                            }
                        }
                    }

                }
            }

            .header_right {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width: 50%;

                .search {
                    width: 70%;
                    margin-right: 5px;
                    display: flex;
                    justify-content: flex-end;
                    @include breakpoint(xlgx-min) {
                        display: none;
                    }
                    @include breakpoint(md-min){
                        display: none;
                    }
                    input {
                        max-width: 280px;
                        min-width: 90px;
                        width: 100%;
                        height: 28px;
                        border: none;
                        background: #FFFFFF;
                        border-radius: 3px;
                        outline: none;
                    }
                }

                .login {
                    display: flex;
                    justify-content: flex-end;
                    width: 30%;

                    @include breakpoint(xlgx-min) {
                        width: 100%;
                    }
                    @include breakpoint(md-min){
                        flex-direction: row;
                       
                    }

                    a {
                        width: 73px;
                        height: 28px;
                        background: linear-gradient(232.46deg, #FFC000 1.55%, #FF8A00 95.8%), #FFFFFF;
                        border-radius: 3px;
                        text-align: center;
                        line-height: 28px;
                        color: $fffcolor;
                        font-size: 	0.625em;
                        transition: all .3s;
                        margin-right: 5px;

                        @include breakpoint(xlgx-min) {
                            width: 53px;

                            &:not(:last-child) {
                                margin-bottom: 5px;
                            }

                        }

                        &:hover {
                            background: #FFFFFF;
                            color: #000;
                        }
                    }
                }

                .lang {
                    display: none;
                }
            }
        }

        .header_bot {
            padding-top: 40px;

            .hero_header {
                display: flex;
                justify-content: space-between;
                @include breakpoint(ldx-min){
                    justify-content: center;
                    
                    }
                .header_article {
                    display: flex;
                    flex-direction: column;
                    height: 250px;
                    max-width: 450px;
                    width: 100%;
                    @include breakpoint(ldx-min){
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    }

                    h1 {
                        font-size: 2.429em;
                    }

                    p {
                        font-size: 1.125em;
                        line-height: 22px;
                        margin: 20px 0;
                    }

                    a {
                        @extend .btn;
                        font-size: 0.750em;
                    }
                }

                .hero_header-img {
                    position: relative;
                    height: 100%;
                    width: 100%;
                    @include breakpoint(ldx-min){
                        display: none;
                  }
                    img {
                        display: block;
                        position: absolute;
                        right: 0;
                        width: 100%;

                    }
                }
            }
        }
    }
}
