$fffcolor:#fff;
$orange:#FF8A00;
$maintext:#333333;
$bgorange:linear-gradient(222.03deg, #FFC000 1.55%, #FF8A00 95.8%);

.font {
    font-family: 'Inter Regular';
    font-style: normal;
    font-weight: normal;
}

.btn {
    color: $fffcolor;
   
    padding: 12px 32px;
    width: 135px;
    
    background: linear-gradient(224.43deg, #FFC000 1.55%, #FF8A00 95.8%);
    border-radius: 5px;
    text-transform: uppercase;
    transition: all .3s;
    display: block;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(153,153,153,0.2);
    &:hover {
        box-shadow: 0px 2px 4px rgba(153, 153, 153, 0.4);
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(223.46deg, #FFC000 1.55%, #FF8A00 95.8%);
    }

}

.btn_main {
    color: $fffcolor;
    padding: 8px 30px;
    width: 102px;
    height: 28px;
    border-radius: 3px;
    font-size: 10px;
    text-align: center;
    letter-spacing: 1px;
    
    display: block;
    box-shadow: 0px 2px 2px rgba(153, 153, 153, 0.2);
    &:hover {
       
        box-shadow: 0px 2px 4px rgba(153, 153, 153, 0.4);
    }
}

.see_btn {
    color: #555555;
    font-size: 12px;
    line-height: 15px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    text-align: center;
    padding: 8px 32px;
    text-transform: uppercase;
    width: 181px;
    height: 31px;
   
    
    &:hover {
        border: 1px solid #FF8A00;
        box-shadow: 0px 2px 5px rgba(255, 138, 0, 0.2);
        border-radius: 2px;
        transition: border .3s;
        color: $orange;
    }
}

.section_title {
position: relative;
    span {
        position: relative;


        &:before {
            content: '';
            position: absolute;
            height: 1px;
            width: 100%;
            background: linear-gradient(182.86deg, #FFC000 1.55%, #FF8A00 95.8%);
            bottom: -5px;
            left: 0;
            z-index: 1;
        }
    }
    &:after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        background: #E5E5E5;
        bottom: -5px;
        left: 0;
        @include breakpoint(md-min){
            bottom: -4px;
        }
    }
}